.countries-list {
  @include list-reset();
  position: absolute;
  top: 55px;
  left: 0;

  display: none;
  flex-direction: column;
  max-height: 330px;
  width: 100%;
  padding: 15px 15px 0 15px;

  background-color: $white;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  overflow-y: scroll;

  &--show {
    display: flex;
  }
}

.countries-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.countries-list__flag {
  margin-right: 30px;

  font-size: 24px;
}

.countries-list__name {
  margin: 0;

  font-size: 16px;
}

.countries-list__phone-code {
  margin-left: auto;

  font-size: 16px;
  color: $grey;
}
