.log-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.log-in-form__input {
  width: 100%;
  max-width: 375px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;

  font-size: 16px;

  border: 2px solid $light-grey;
  border-radius: 10px;

  &::placeholder {
    font-size: 16px;
    color: $light-grey;
  }

  &:focus,
  &:hover {
    border-color: $blue;
    outline: none;
    caret-color: $blue;
  }
}

.log-in-form__input-wrap {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 12px;
    right: 12px;

    width: 24px;
    height: 24px;

    background-image: url("../img/down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
  }
}
